<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title> Perfil </ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  
  <ion-card>
    <ion-card-header >
      <ion-card-title class="menu-title">Información del Estudiante</ion-card-title>
    </ion-card-header>
    
    <ion-card-content >
      <ion-list lines="none">
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-text>{{ user?.displayName }}</ion-text>
        </ion-item>
        
        <ion-item>
          <ion-label>Correo:</ion-label>
          <ion-text>{{ user?.email }}</ion-text>
        </ion-item>
        
        <ion-item>
          <ion-label>Carrera:</ion-label>
          <ion-text>{{ carreraEstudiante }}</ion-text>
        </ion-item>

        <ion-buttons slot="end">
          <ion-button class="button" [routerLink]="['/update']"> Actualizar mis datos </ion-button>
        </ion-buttons>
  
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
