
.contenedor-header{
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    margin: 0rem;

    .icono{
        max-width: 5rem;
        margin: 0rem;
    }
    
}

.menu{
    color: black;
}

.title-card{
    color: rgb(82, 54, 19);
}

.card-content{
    color: rgb(255, 255, 255);
}


.card-bg{
    background-color: darkkhaki;
}

