
.contenedor-header{
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    margin: 0rem;

    .icono{
        max-width: 5rem;
        margin: 0rem;
    }
    
}

.menu{
    color: black;
}
