
.contenedor-header{
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    margin: 0rem;

    .icono{
        max-width: 5rem;
        margin: 0rem;
    }
    
}

.menu{
    color: black;
}

.menu-title{
    color: #3f2e27 ;
}

.button-content{
    color: peru;
}