  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/inicio"></ion-back-button>
      </ion-buttons>
      
      <ion-title>Sobre Nosotros</ion-title>
    
    </ion-toolbar>
  </ion-header>


  <ion-content >
    <div class="contenedor">
      <div class="centro">
        <img src="assets/icon/duoc.png" class="imgen" alt=""><br>
      </div>

      <div class="contenido">
        <ion-card class="contenido">
          <ion-card-content>
            <h2>¡Bienvenidos!</h2>
            <p>
              Nuestra Aplicación de Registro de Asistencia es una herramienta diseñada para simplificar y modernizar el proceso de seguimiento de la asistencia de los estudiantes.
            </p>
            <p>
              <strong>Objetivos Principales:</strong>
            </p>
            <ul>
              <li>Registro Preciso</li>
              <li>Facilidad de Uso</li>
              <li>Acceso en Tiempo Real</li>
              <li>Historial de Asistencia</li>
              <li>Notificaciones</li>
              <li>Seguridad de Datos</li>
            </ul>
            <p>
              Nuestra misión es simplificar la toma de asistencia y fomentar una mayor participación de los estudiantes en el aula.
            </p>
            <p>
              Gracias por elegir nuestra Aplicación de Registro de Asistencia. Si tienes alguna pregunta o necesitas ayuda, no dudes en ponerte en contacto con nuestro equipo de soporte.
            </p>
          </ion-card-content>
        </ion-card>
      
      </div>
    </div>
  </ion-content>
  