  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/inicio"></ion-back-button>
      </ion-buttons>
      
      <ion-title>Sobre Nosotros</ion-title>
    
    </ion-toolbar>
  </ion-header>


  <ion-content >
    <div class="contenedor">
      <div class="centro">
        <img src="assets/icon/duoc.png" class="imgen" alt=""><br>
      </div>
      <div class="contenido">
        <h1 class="centro">Vision y Mision.</h1>

        <p>Formar personas, en el ámbito técnico y profesional, con una sólida base ética inspirada en los valores cristianos, capaces de actuar con éxito en el mundo laboral y comprometidas con el desarrollo de la sociedad.</p>
      </div>
    </div>
  </ion-content>
  