

<ion-header class="menu" >
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding body">
  <div class="contenedor">
    <ion-card class="centered-card">
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>

      <ion-card-content class="contenedor-login ">
        
        <ion-img slot="start" class="icono" src="..\assets\icon\image.png"> </ion-img>
        <ion-input placeholder="Ingrese su usario"></ion-input>
        <ion-input placeholder="Ingrese su Contraseña"></ion-input>

        <ion-button routerLink="/inicio" expand="block" fill="clear" shape="round">
          Login
        </ion-button>

        <ion-router-link routerLink="/register" routerDirection="forward">¿No tiene una cuenta? Registrate aqui</ion-router-link>


      </ion-card-content>
    </ion-card>
  </div>




</ion-content>