<ion-header>
 
  <ion-toolbar >
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     

      <form [formGroup] = "formularioRegistro" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>
        
        <div class="error-container">
          <ng-container>
            <div class="error-message" *ngIf="nombre?.invalid && nombre?.touched">

              <ion-icon name="information-circle-outline"></ion-icon>
              <span>Nombre invalido</span>

            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="text" formControlName="correo"></ion-input>
        
        </ion-item>
        
        <div class="error-container">
          <ng-container>
          

            <div *ngIf="correo?.hasError('correoExistente')">
              El correo ingresado ya existe. Por favor, elige otro correo.
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <div class="error-container">
          <ng-container>
            <div class="error-message" *ngIf="password?.invalid && password?.touched">

              <ion-icon name="information-circle-outline"></ion-icon>
              <span>Debe haber al menos una letra minúscula </span>
              <br>
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>Debe haber al menos una letra mayúscula en la cadena</span>
              <br>
              <ion-icon name="information-circle-outline"></ion-icon>
              <span> Debe haber al menos un dígito en la cadena</span>
              <br>
              <ion-icon name="information-circle-outline"></ion-icon>

              <span>Ningun caracter especial</span>
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Confirma Password</ion-label>
          <ion-input type="password" formControlName="confirmPass"></ion-input>
        </ion-item>
        
        <div class="error-container">
          <ng-container>
            <div class="error-message" *ngIf="formularioRegistro.errors?.['passMatchError']">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>Las contraseñas no coinciden</span>

            </div>
          </ng-container>
        </div>


        <br>
        <ion-button type ="submit" [disabled]="formularioRegistro.invalid" expand="block" fill="clear" shape="round" routerLink="/">
          Registrarse
        </ion-button>
        
      </form>

    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar >
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">Loggearse
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
