<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>QR</ion-title>
    <ion-button slot="end" (click)="logout()" [routerLink]="['/']">
      Logout
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    
    <ng-container *ngIf="horario$ | async as horario">
      <div class="grid">
        <div *ngFor="let dia of getKeys(horario)" class="grid-item">
          <h2>{{ dia | titlecase }}</h2>
          <div *ngFor="let ramo of getKeys(horario[dia])" class="grid-item">
            <ion-button class="button" color="rgba(69,55,50,255)
            " (click)="seleccionarRamo(horario[dia][ramo])" *ngIf="horario[dia][ramo]" >
              {{ ramo }}
              <ul>
                <li *ngIf="horario[dia][ramo].sala">Sala: {{ horario[dia][ramo].sala }}</li>
                <li *ngIf="horario[dia][ramo].seccion">Sección: {{ horario[dia][ramo].seccion }}</li>
                <li *ngIf="horario[dia][ramo].nombre">Nombre: {{ horario[dia][ramo].nombre }}</li>
              </ul>
            </ion-button>
          </div>
        </div>
      </div>
    </ng-container>

    <ion-row>

    </ion-row>
  </ion-card>
  
  <div>

    <!-- <input type="text" [(ngModel)]="texto">  -->
    <br><br>
    <qrcode class="qr" [qrdata]="texto" [width]="400"> </qrcode>
  
  

  </div>
</ion-content>