<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>

    <ion-title>Camara</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
  
  <ion-button (click)="onCodeResult(p)" expand="block" fill="clear" shape="round">
    Click me
  </ion-button>
 
  <p>{{ scanResult.nombre }}</p>
  <p>{{ scanResult.sala }}</p>
  <p>{{ scanResult.seccion }}</p>
  
</ion-content>

